<ion-view cache-view="false" view-title="All files on {{currentPlatform  | capitalize}} device">
   <ion-content class="padding">
     <div class="padding">
      <p>{{messageToUser}}</p>
      <p>{{notification}}</p>
    </div>

    <ion-list>
      <ion-item class="item-remove-animate" ng-repeat="videodirectory in videodirectories">
        <div class="item-icon-left">
          <i ng-show="videodirectory.isDirectory" class="icon ion-folder"></i>
          <i ng-show="videodirectory.isFile" class="icon ion-document"></i>
          <h2>{{videodirectory.name}}</h2>
          <p>{{videodirectory.filesystem}}</p>
          <p>{{videodirectory.nativeURL}}</p>
        </div>

        <div class="item-icon-right">
          <i class="icon ion-arrow-right-b"></i>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>

  <div class="bar bar-footer bar-stable">
    <a href="#/" class="button button-assertive icon-left ion-compose">Logout</a>
  </div>
</ion-view>