<ion-view view-title="Home">
  <ion-content class="padding">
    <div class="padding-left padding-right" ng-controller="BackupCtrl">
      <div class="button-bar">
        <a class="button" ng-click="backup()">backup device now</a>
      </div>
    </div>
    <br>
    <div class="padding-left padding-right" ng-controller="RestoreCtrl">
      <div class="button-bar">
        <a class="button" ng-click="restore()">restore device now</a>
      </div>
    </div>

    <div class="padding">
      <p>{{currentPlatform}}</p>
    </div>
    <div class="padding">
      <p>{{freeSpace}}</p>
    </div>
    <div class="padding">
      <p>{{timeNow}}</p>
    </div>
    
  </ion-content>

  <div ng-controller="LoginCtrl" class="bar bar-footer bar-stable">
    <a ng-click="logout()"
      class="button button-assertive icon-left ion-compose">Logout</a>
  </div>
</ion-view>