<ion-view view-title="Home">
<ion-content class="padding">
  <p>
    <a class="button icon icon-right ion-chevron-right" href="#/tab/facts">Device information</a>
  </p>
  
  <p>
    <a class="button icon icon-right ion-chevron-right" href="#/tab/facts">About the app</a>
  </p>

  <p>
    <a class="button icon icon-right ion-chevron-right" href="#/tab/facts">Tutorial Video</a>
  </p>
  
  <p>
    <a class="button icon icon-right ion-chevron-right" href="#/tab/facts">Settings</a>
  </p>
  <p>
    <a class="button icon icon-right ion-chevron-right" href="#/tab/facts">Help</a>
          </p>
    </ion-content>
</ion-view>