<ion-view view-title="Other">
  <ion-content class="padding">
    <p>{{currentPlatform}} Other files</p>
    Debugging to ensure the folder has been created
    <div class="padding">
   			{{stepone}}
   			</div>
   			<div class="padding">
   			{{steptwo}}
   			</div>
   			<div class="padding">
   			{{stepthree}}
   			</div>

        <div class="padding">
        <p>{{messageToUser}}</p>
        </div>
        
        <ion-list>
          <ion-item class="item-remove-animate item-icon-right"
                ng-repeat="videodirectory in videodirectories">
            <h2>{{videodirectory.name}}</h2>
            <p>{{videodirectory.filesystem}}</p>
            <i class="icon ion-arrow-right-b"></i>
            <!-- <i ng-show="file.isDirectory" class="icon ion-folder"></i>
            <i ng-show="file.isFile" class="icon ion-document"></i> -->
          </ion-item>
        </ion-list>
  </ion-content>
  <div class="bar bar-footer bar-stable">
    <a href="#/"
      class="button button-assertive icon-left ion-compose">{{encryptDecrypt}}</a>
      <!-- <button class="button button-light icon-left ion-shuffle" 
              ng-click="toggleReordering()">Reorder</button> -->
  </div>
</ion-view>