<ion-view view-title="Video files for {{currentPlatform}} device">
   <ion-content class="padding">
    Debugging to ensure the folder has been created
   			<div class="padding">
   			{{stepone}}
   			</div>
   			<div class="padding">
   			{{steptwo}}
   			</div>
   			<div class="padding">
   			{{stepthree}}
   			</div>

        Below are the files and folders currently saved in the encrypted folder on the phone SDcard:
        <ion-list>
          <ion-item class="item-remove-animate item-icon-right"
                ng-repeat="videodirectory in videodirectories">
            <h2>{{videodirectory.name}}</h2>
            <p>{{videodirectory.filesystem}}</p>
            <i class="icon ion-arrow-right-b"></i>
          </ion-item>
        </ion-list>
   </ion-content>
</ion-view>