<ion-view view-title="Videos">
   <ion-content class="padding">
   		<h1>Videos files for {{currentPlatform}} device</h1>
   			<p>{{stepone}}</p>
        	<p>{{filedirectory}}</p>
        	<p>{{stepthree}}</p>

      	<ion-list>
      <ion-item class="item-remove-animate item-icon-right"
                href="#/edit/{{note.id}}" ng-repeat="filedirectory in filedirectory track by note.id">
        <!-- <h2>{{note.title}}</h2>
        <p>{{note.description}}</p>
        <i class="icon ion-arrow-right-b"></i>
        <ion-reorder-button class="ion-drag"
                          on-reorder="move(note, $fromIndex, $toIndex)"></ion-reorder-button>
        <ion-option-button class="button-assertive icon-left ion-trash-b"
                      ng-click="remove(note.id)">Delete</ion-option-button> -->
      </ion-item>
    </ion-list>
	    <!-- <div class="list">
	        <div ng-repeat="file in files">
	            <a class="item item-icon-left" href="#" ng-click="getContents(file.nativeURL)">
	                <i ng-show="file.isDirectory" class="icon ion-folder"></i>
	                <i ng-show="file.isFile" class="icon ion-document"></i>
	                {{file.name}}
	            </a>
	        </div>
	    </div> -->
   </ion-content>
</ion-view>