<ion-tabs class="tabs-icon-top tabs-positive">
        <ion-tab title="Home" icon="ion-home" href="#/tab/home">
          <ion-nav-view name="encrypted-home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Videos" icon="ion-videocamera" href="#/encrypted_tab/videos">
          <ion-nav-view name="encrypted-videos-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Pictures" icon="ion-android-camera" href="#/encrypted_tab/pictures">
          <ion-nav-view name="encrypted-pictures-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Music" icon="ion-music-note" href="#/encrypted_tab/music">
          <ion-nav-view name="encrypted-music-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Documents" icon="ion-document" href="#/encrypted_tab/documents">
          <ion-nav-view name="encrypted-document-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Other" icon="ion-folder" href="#/encrypted_tab/other">
          <ion-nav-view name="encrypted-other-tab"></ion-nav-view>
        </ion-tab>  
</ion-tabs>