<!-- <ion-view view-title="{{titleToShowUser}}"> -->
<ion-view title='<img class="title-image" src="img/ionic.png" /> <a>Android Build Device Switch</a>' >
  <ion-content class="padding">
    <p align="center">
      <b>{{titleToShowUser}}</b>
    </p>

    <p>
      <a class="button icon icon-right ion-chevron-right" href="#/tab/device">Device information</a>
    </p>
    
    <p>
      <a class="button icon icon-right ion-chevron-right" href="#/tab/about">About the app</a>
    </p>

    <p>
      <a class="button icon icon-right ion-chevron-right" href="#/tab/tutorial">Tutorial Video</a>
    </p>
    
    <p>
      <a class="button icon icon-right ion-chevron-right" href="#/tab/settings">Settings</a>
    </p>

    <p>
      <a class="button icon icon-right ion-chevron-right" href="#/tab/contact_us">Contact Us</a>
    </p>
  </ion-content>
  <div ng-controller="LoginCtrl" class="bar bar-footer bar-stable">
    <a ng-click="logout()"
      class="button button-assertive icon-left ion-compose">Logout</a>
  </div>
</ion-view>