<ion-tabs class="tabs-icon-top tabs-positive">
        <ion-tab title="Home" icon="ion-home" href="#/tab/home">
          <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Encrypted Files" icon="ion-locked" href="#/encrypted_tab/videos">
          <ion-nav-view name="encrypted-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Decrypted Files" icon="ion-unlocked" href="#/decrypted_tab/videos">
          <ion-nav-view name="decrypted-tab"></ion-nav-view>
        </ion-tab>
</ion-tabs>