<ion-view view-title="About">
	<ion-content class="padding">
	  <h3>Mobile Build device Switch</h3>
	  <p>This application gives you the ability to encrypt any file on your device and save it to 
	  Your SD_Card OR
	  Internal memory if no SD_Card is present.</p>
	  <p>Once the app is downloaded on a new device you can access the encrypted files from the old SD_Card using the same master pasword that you used on the older phone.</p>
	  <p>
	    <a class="button icon icon-right ion-chevron-right" href="#/tab/about_part2">Read More</a>
	  </p>
	</ion-content>
</ion-view>