<ion-view view-title="About">
	<ion-content class="padding">
	  <h3>Mobile Build device Switch part 2</h3>
	  <p> The surrent version is the first releise and development is still in progress so you may find ares of the application that you as the user do not have much ability to make changes for example the setting all of the setting are currently un able to be changed and are shown for the user to know what the current setting in version one off the application are.</p>
	</ion-content>
</ion-view>