<ion-view view-title="Device">
	<ion-content>
	        <div class="list">
	          <div class="item item-input">
	            <span class="input-label">Platform</span>
	            {{device.platform}}
	          </div>
	          <div class="item item-input">
	            <span class="input-label">Model</span>
	            {{device.model}}
	          </div>
	          <div class="item item-input">
	            <span class="input-label">Version</span>
	            {{device.version}}
	          </div>
	        </div>
	</ion-content>
</ion-view>