<ion-view view-title="Device">
	<ion-content>
	<p> Below you will see your device information in the event that you have a problem with the application on your device you can let us at Global wireless know the type of device you are using.</p>
	        <!-- <div class="list">
	          <div class="item item-input">
	            <span class="input-label">Platform</span>
	            {{device.platform}}
	          </div>
	          <div class="item item-input">
	            <span class="input-label">Model</span>
	            {{device.model}}
	          </div>
	          <div class="item item-input">
	            <span class="input-label">Version</span>
	            {{device.version}}
	          </div>
	        </div> -->
	</ion-content>
</ion-view>