<ion-view view-title="{{typeBeingViewed}} {{currentPlatform | capitalize}} Pictures">
   <ion-content class="padding">
        <div class="padding">          
          <label class="item item-input">
            <span class="input-label">{{fileLabel}}</span>
            <input type="file" ng-model="editItem._attachments_uri.image" accept="image/*" app-filereader /> 
          </label>    

          <label class="item item-input">
              <input ng-model="userFileName" type="text" placeholder="Give the File a name..." id="userFileName"/>  
          </label>    
        </div>

        <div class="padding-left padding-right">
          <div class="button-bar">
            <a class="button" ng-click="encrypt(userFileName,editItem._attachments_uri.image)">Encrypt Picture</a>
          </div>
        </div>

    <div class="padding">
      <p>{{messageToUser}}</p>
      <p>{{notification}}</p>
    </div>

    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="videodirectory in videodirectories">
        <div class="item-icon-left">
          <i ng-show="videodirectory.isDirectory" class="icon ion-folder"></i>
          <i ng-show="videodirectory.isFile" class="icon ion-document"></i>
          <h2>{{videodirectory.name}}</h2>
          <p>{{videodirectory.filesystem}}</p>
          <p>{{videodirectory.nativeURL}}</p>
        </div>

        <div class="item-icon-right">
          <i class="icon ion-arrow-right-b"></i>
        </div>

        <ion-option-button class="button-positive" ng-click="Encrypt(videodirectory)">
          Encrypt
        </ion-option-button>
        <ion-option-button ng-show="videodirectory.isFile" class="button-info" ng-click="Delete(videodirectory)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>

  <div class="bar bar-footer bar-stable">
    <a href="#/" class="button button-assertive icon-left ion-compose">{{encryptDecrypt}}</a>
  </div>
</ion-view>